/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-------*/

/*----GENERAL----*/
*{
    font-family: Arial, Helvetica, sans-serif;
}





.my-container{
    max-width: 1200px;
    
    min-height: calc(100vh - 4rem);

    margin: 0 auto;


}


.item-container{
    position: relative;
    
    width: 900px;
    height: 600px;
    margin: 0 auto;
    margin-top: calc((100vh - 4rem - 600px) / 2 );
    
}

.my-button{
    position: absolute;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color:rgba(0, 0, 0, 0.5) ;
    text-align: center;
    z-index: 2;
  
}

.my-button.previous{
    top: 10px;
    left: 50%;
}

.my-button.next{
    bottom: 80px;
    left: 50%;
}

.my-button.previous.translated{
    left: calc(100% + 150px);
}

.my-button.next.translated{
    left: calc(100% + 150px);
    bottom: 10px;
}

.my-button > *{
    line-height: 50px;
    color: white;
}






.item{

    width: 100%;
    height: 100%;
    display: none;
    
}



.item.active{
    display: block;
}


.wrapper{
    display: flex;
    flex-wrap: wrap;
}

.thumbnail-gallery{
    width: 300px;
    height: 600px;
    margin-top: calc((100vh - 600px) / 2 );
    display:none;
}

.thumbnail-item-container{
    position: relative;
    width: 100%;
    height: calc(100% / 5);
    
}

.thumbnail-item{
    width: 100%;
    height: 100%;
}

.overlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.toggler{
    position: absolute;

    left:calc(100% + 80px);

    bottom: calc(100% + 80px);

    background-color: brown;
    color: greenyellow;

    height: 80px;
    width: 80px;
    border-radius: 20px;
}

.thumbnail-gallery.show{
    display: block;
}

.thumbnail-item-container .overlay.hide{
    display: none;
}

.info-container{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(20, 18, 60, 0.7);
}

.info-container > *{
    text-align: right;
    color: white;
    z-index: 1;
}

.autoplay-container{
    width: 1200px;
    min-height: 4rem;
    margin: 0 auto;
}

.autoplay-container > .wrapper{
    justify-content: space-around;

}

#autoplay-start-and-stop, #autoplay-reverse{
    padding: 1rem;
    font-size: 1.5rem;
    color: greenyellow;
    background-color: brown;
}